<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lexicon</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MindFlareDocument</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<real>0.0</real>
			<key>CFBundleTypeName</key>
			<string>Lexicon</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.github.screensailor.lexicon</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.github.screensailor.lexicon</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lexicon</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.github.screensailor.lexicon</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lexicon</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>public.plain-text</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TaskPaper</string>
			<key>UTTypeIdentifier</key>
			<string>com.taskpaper.text</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>taskpaper</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>public.plain-text</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
